Repository chans00n/ridestable, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, shared, documentation, dependencies, database, ci/cd, authentication, payment, booking, ui, testing

.github/labeler.yml:

# Add 'frontend' label to any change within the 'frontend' folder
frontend:
  - changed-files:
    - any-glob-to-any-file: frontend/**/*

# Add 'backend' label to any change within the 'backend' folder
backend:
  - changed-files:
    - any-glob-to-any-file: backend/**/*

# Add 'shared' label to any change within the 'shared' folder
shared:
  - changed-files:
    - any-glob-to-any-file: shared/**/*

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - "**/*.md"
      - docs/**/*

# Add 'dependencies' label to package.json changes
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "**/package.json"
      - "**/package-lock.json"
      - "**/yarn.lock"

# Add 'database' label to any Prisma schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - "**/prisma/**/*"
      - "**/*.sql"

# Add 'ci/cd' label to any GitHub Actions changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Add 'authentication' label to auth-related files
authentication:
  - changed-files:
    - any-glob-to-any-file:
      - "**/auth/**/*"
      - "**/login/**/*"
      - "**/register/**/*"

# Add 'payment' label to payment-related files
payment:
  - changed-files:
    - any-glob-to-any-file:
      - "**/payment/**/*"
      - "**/stripe/**/*"

# Add 'booking' label to booking-related files
booking:
  - changed-files:
    - any-glob-to-any-file:
      - "**/booking/**/*"
      - "**/quote/**/*"

# Add 'ui' label to component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - "**/components/**/*"
      - "**/*.css"
      - "**/*.scss"

# Add 'testing' label to test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/tests/**/*"
      - "**/__tests__/**/*"

Improve database connection debugging
  backend/api/db-test.ts
  backend/src/config/database.ts
Labels: backend

Add direct PostgreSQL connection test
  backend/api/connection-test.ts
  backend/vercel.json
Labels: backend

Add DNS resolution test
  backend/api/dns-test.ts
  backend/vercel.json
Labels: backend

Add registration and schema test endpoints
  backend/api/register-test.ts
  backend/api/schema-test.ts
  backend/vercel.json
Labels: backend

Add schema-test route to vercel.json
  backend/vercel.json
Labels: backend

Fix Vercel deployment: reduce serverless functions to stay under Hobby plan limit
  backend/api/express-handler.ts
  backend/api/express-simple.ts
  backend/api/express-test.ts
  backend/api/express-vercel.js
  backend/api/health.ts
  backend/api/test.ts
  backend/vercel.json
Labels: backend

Fix payment transaction timeout error
  backend/src/services/payment.service.ts
Labels: backend

Fix database connection pool exhaustion in serverless
  backend/src/utils/database-url.ts
Labels: backend

Add temporary endpoint to debug database configuration
  backend/api/db-config-test.ts
Labels: backend

Add webhook test endpoint to debug Stripe webhook configuration
  backend/api/webhook-test.ts
  backend/vercel.json
Labels: backend

Add email test endpoint to diagnose missing booking confirmation emails
  backend/api/email-test.ts
  backend/vercel.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/favicon.png
Labels: frontend, backend

Fix PDF generation for serverless environment
  backend/src/services/pdf.service.ts
Labels: backend

Update web app with new logos and favicons
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/logo_black.png
  frontend/public/logo_white.png
  frontend/public/manifest.json
  frontend/public/vite.svg
  frontend/src/components/Layout.tsx
  frontend/src/pages/admin/Login.tsx
Labels: frontend, ui

Adjust landing page logo layout and update component sizes
  frontend/src/components/Layout.tsx
  frontend/src/components/landing/HeroCarousel.tsx
  frontend/src/components/layout/ProfileDropdown.tsx
Labels: frontend, ui

Add logo and home link to auth pages
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/auth/ForgotPassword.tsx
  frontend/src/pages/auth/ResetPassword.tsx
Labels: frontend, authentication

Transform dashboard to mobile-first Lyft-style interface
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/layout/MobileNavigation.tsx
  frontend/src/pages/Bookings.tsx
  frontend/src/pages/DashboardNew.tsx
  frontend/src/pages/Profile.tsx
Labels: frontend, ui

Fix Bookings page error and add Google Maps integration
  frontend/package.json
  frontend/src/components/map/CurrentLocationMap.tsx
  frontend/src/components/map/index.ts
  frontend/src/pages/Bookings.tsx
  frontend/src/pages/DashboardNew.tsx
  frontend/src/types/google-maps.d.ts
  package-lock.json
Labels: frontend, dependencies, ui

Fix saved locations not showing on dashboard
  frontend/src/components/booking/SavedLocations.tsx
  frontend/src/pages/DashboardNew.tsx
  frontend/src/pages/Profile/ProfileLocations.tsx
Labels: frontend, booking, ui

Fix multiple UI issues and improve dashboard layout
  frontend/src/components/map/CurrentLocationMap.tsx
  frontend/src/components/ui/BookingDetailsModal.tsx
  frontend/src/pages/Bookings.tsx
  frontend/src/pages/DashboardNew.tsx
  frontend/src/pages/ModifyBooking.tsx
Labels: frontend, ui
