Repository chans00n/ridestable, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, shared, documentation, dependencies, database, ci/cd, authentication, payment, booking, ui, testing

.github/labeler.yml:

# Add 'frontend' label to any change within the 'frontend' folder
frontend:
  - changed-files:
    - any-glob-to-any-file: frontend/**/*

# Add 'backend' label to any change within the 'backend' folder
backend:
  - changed-files:
    - any-glob-to-any-file: backend/**/*

# Add 'shared' label to any change within the 'shared' folder
shared:
  - changed-files:
    - any-glob-to-any-file: shared/**/*

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - "**/*.md"
      - docs/**/*

# Add 'dependencies' label to package.json changes
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - "**/package.json"
      - "**/package-lock.json"
      - "**/yarn.lock"

# Add 'database' label to any Prisma schema changes
database:
  - changed-files:
    - any-glob-to-any-file:
      - "**/prisma/**/*"
      - "**/*.sql"

# Add 'ci/cd' label to any GitHub Actions changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: .github/**/*

# Add 'authentication' label to auth-related files
authentication:
  - changed-files:
    - any-glob-to-any-file:
      - "**/auth/**/*"
      - "**/login/**/*"
      - "**/register/**/*"

# Add 'payment' label to payment-related files
payment:
  - changed-files:
    - any-glob-to-any-file:
      - "**/payment/**/*"
      - "**/stripe/**/*"

# Add 'booking' label to booking-related files
booking:
  - changed-files:
    - any-glob-to-any-file:
      - "**/booking/**/*"
      - "**/quote/**/*"

# Add 'ui' label to component changes
ui:
  - changed-files:
    - any-glob-to-any-file:
      - "**/components/**/*"
      - "**/*.css"
      - "**/*.scss"

# Add 'testing' label to test file changes
testing:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.test.*"
      - "**/*.spec.*"
      - "**/tests/**/*"
      - "**/__tests__/**/*"

fix: Remove husky to fix Vercel deployment
  .gitignore
  package.json
Labels: dependencies

fix: Install devDependencies for TypeScript build on Vercel
  backend/vercel.json
Labels: backend

fix: Add build script for Vercel monorepo deployment
  backend/build.sh
  backend/package.json
  backend/vercel.json
  vercel.json
Labels: backend, dependencies

fix: Move TypeScript to dependencies for Vercel deployment
  backend/package.json
  backend/vercel.json
Labels: backend, dependencies

Relax TypeScript strict mode for initial deployment
  backend/tsconfig.json
Labels: backend

Fix Vercel build with lenient TypeScript configuration
  backend/build-vercel.js
  backend/build.sh
  backend/package.json
  backend/transpile-only.js
  backend/tsconfig.build.json
Labels: backend, dependencies

Fix Vercel build to use custom build script
  backend/package.json
  backend/vercel.json
Labels: backend, dependencies

Fix frontend Vercel build with lenient TypeScript configuration
  frontend/BUILD-CONFIGS.md
  frontend/package.json
  frontend/tsconfig.build.json
  frontend/tsconfig.lenient.json
Labels: frontend, documentation, dependencies

fix: Add missing lodash dependency to frontend
  frontend/.env.example
  frontend/.vercelignore
  frontend/DEPLOYMENT-QUICKSTART.md
  frontend/DEPLOYMENT.md
  frontend/package.json
  frontend/scripts/check-env.js
  frontend/vercel.json
  package-lock.json
Labels: frontend, documentation, dependencies

fix: Update remaining Card import paths to lowercase
  frontend/src/components/admin/PaymentReconciliation.tsx
  frontend/src/components/admin/RefundManagement.tsx
  frontend/src/pages/admin/Financial.tsx
Labels: frontend, ui

feat: Add multi-origin CORS support and production environment setup
  backend/PRODUCTION_ENV_SETUP.md
  backend/src/app.ts
Labels: backend, documentation

docs: Add production domain configuration and setup guide
  DOMAIN_SETUP.md
Labels: documentation

fix: Make backend compatible with Vercel serverless environment
  PRODUCTION_TESTING_CHECKLIST.md
  backend/src/config/redis.ts
  backend/src/routes/index.ts
  backend/src/server.ts
  backend/src/services/auth.service.ts
  backend/src/services/driver.service.ts
  backend/src/utils/cache.ts
Labels: backend, documentation

fix: Fix GitHub Actions workflow syntax errors
  .github/workflows/ci-cd.yml
Labels: ci/cd

fix: Make OAuth strategies conditional to prevent startup errors
  backend/src/config/passport.ts
Labels: backend

fix: Handle shared package in Vercel monorepo deployment
  backend/build.sh
  backend/scripts/copy-shared.js
Labels: backend

fix: Bundle shared types directly into backend for Vercel
  .gitignore
  backend/build.sh
  backend/scripts/bundle-shared.js
  backend/scripts/copy-shared.js
Labels: backend

fix: Use TypeScript path mapping for shared module resolution
  backend/scripts/bundle-shared.js
  backend/tsconfig.build.json
Labels: backend

refactor: Remove Apple OAuth entirely from the application
  DOMAIN_SETUP.md
  backend/package.json
  backend/src/config/index.ts
  backend/src/config/passport.ts
  backend/src/controllers/oauth.controller.ts
  frontend/src/components/auth/SSOButton.tsx
  frontend/src/components/landing/AuthModal.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/register-form.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/sso.service.ts
Labels: frontend, backend, documentation, dependencies, authentication, ui

fix: Simplify shared module handling for Vercel deployment
  backend/build.sh
  backend/scripts/bundle-shared.js
  backend/src/shared-types.ts
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: backend

fix: Create @stable-ride/shared module in node_modules during build
  backend/build-vercel.js
  backend/scripts/create-shared-module.js
Labels: backend

fix: Copy shared module directly to node_modules
  backend/build-vercel.js
  backend/scripts/copy-shared-module.js
  backend/scripts/create-shared-module.js
Labels: backend

fix: Inline shared imports directly in source files for Vercel
  .gitignore
  backend/build-vercel.js
  backend/scripts/copy-shared-module.js
  backend/scripts/inline-shared-imports.js
Labels: backend

fix: Update Vercel routing configuration for API endpoints
  backend/vercel.json
Labels: backend

Add database migration deployment to backend build script
  backend/build.sh
  frontend/src/components/landing/AuthModal.tsx
Labels: frontend, backend, ui

Fix database connection issues for serverless deployment
  backend/build.sh
  backend/src/config/database.ts
  backend/src/scripts/test-db-connection.ts
Labels: backend

Fix API routing for Vercel deployment
  backend/src/app.ts
  backend/vercel.json
Labels: backend

Fix trust proxy and database connection for Vercel
  backend/src/app.ts
  backend/src/config/database.ts
  backend/src/utils/database-url.ts
Labels: backend

Fix Prisma client constructor error
  backend/src/config/database.ts
Labels: backend

Fix trust proxy and rate limiting configuration
  backend/src/app.ts
  backend/src/config/database.ts
  backend/src/routes/index.ts
  backend/src/utils/database-url.ts
Labels: backend

Fix serverless deployment issues
  backend/api/index.ts
  backend/package.json
  backend/src/app.ts
  backend/src/config/database.ts
  backend/src/services/pricingEngine.service.ts
  package-lock.json
Labels: backend, dependencies

Simplify API handler and add test endpoint
  .github/workflows-disabled/ci-cd.yml
  .github/workflows-disabled/ci.yml
  .github/workflows-disabled/database-backup.yml
  .github/workflows-disabled/dependency-update.yml
  .github/workflows-disabled/e2e-tests.yml
  .github/workflows-disabled/pr-checks.yml
  backend/api/index.ts
  backend/api/test.ts
Labels: backend, ci/cd

Fix Vercel API function compilation
  backend/build-vercel.js
  backend/vercel.json
Labels: backend

Add debug logging to API handler
  backend/api/index.ts
Labels: backend

Fix Vercel function configuration
  backend/api/index.ts
  backend/build-vercel.js
  backend/vercel.json
Labels: backend

Simplify Vercel deployment approach
  backend/api/index.ts
  backend/vercel.json
Labels: backend

Add direct health endpoint for testing
  backend/api/health.ts
  backend/vercel.json
Labels: backend

Add minimal Express test endpoint
  backend/api/express-test.ts
  backend/vercel.json
Labels: backend

Fix Express deployment on Vercel
  backend/api/app.ts
  backend/api/express-handler.ts
  backend/api/express-simple.ts
  backend/api/express-vercel.js
  backend/api/index.ts
  backend/api/vercel.d.ts
  backend/test-vercel-endpoints.sh
  backend/tsconfig.json
  backend/vercel.json
Labels: backend

Add database connection test endpoint
  backend/api/db-test.ts
  backend/vercel.json
Labels: backend
